{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <h3>{% trans "LOGIN" %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form class="login text-center" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-dark right mb-5 mt-5" type="submit">{% trans "Sign In" %}</button>
                <p class="mt-5">{% blocktrans %}
                    <a href="{{ signup_url }}">Create a profile</a>{% endblocktrans %}
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}