{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row shop-title">
        <h2>Listings</h2>
    </div>
    <div class="row">
        <div class="col-12 mt-4 left">
            <div class="row pb-3">
                {% for product in product_list%}
                <div class="col-md-3">
                    <div class="card md-3 h-100" style="cursor: pointer;" onclick="window.location.href='{% url 'product_detail' product.slug %}';">
                        <div class="d-flex flex-column">
                            <div class="card-body p-3 h-100">
                                {% if "placeholder" in product.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://asset.cloudinary.com/dowbhp8px/7e8567f6a714f3fa2b06de300982d769">
                                {% else %}
                                <img class="card-img-top" src=" {{ product.featured_image.url }} ">
                                {% endif %}
                            </div>
                            <div class="product-link text-center">
                                <h6 class="card-title">{{ product.name }}</h6>
                                <p class="card-text card-price pb-3">${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row pb-3">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}