{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ironkid</title>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/dd25f88acd.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'shop' %}">IronKid</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'shop' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Shop
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'shop' %}" class="dropdown-item">All categories</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for category in categories %}
                            <li><a class="dropdown-item"
                                    href="{% url 'category' cstr=category.name %}">{{ category.name }}</a></li>
                            {% if not forloop.last %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'add_product' %}" class="nav-link">Add Product</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="nav-link">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer class="mt-5 text-white" style="background-color:#2b2b2b;">
        <div class="container p-4">
            <section class="">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h6 class="text-uppercase">SHOP</h5>

                        <ul class="list-unstyled mb-0 footer-text">
                            <li><a href="{% url 'shop' %}" class="text-white footer-link">All categories</a></li>
                            {% for category in categories %}
                            <li><a class="text-white footer-link"
                                    href="{% url 'category' cstr=category.name %}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h6 class="text-uppercase">CONNECT</h5>

                        <ul class="list-unstyled mb-0 footer-text">
                            <li>
                                <a href="https://www.instagram.com/" class="text-white footer-link" target="_blank">Instagram</a>
                            </li>
                            <li>
                                <a href="https://open.spotify.com/" class="text-white footer-link" target="_blank">Spotify</a>
                            </li>
                            <li>
                                <a href="https://www.tiktok.com/" class="text-white footer-link" target="_blank">TikTok</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</body>

</html>